// 判断是否在同一周里
function sameWeek(str) {
  const date1 = new Date(str); //传入时间标准化    
  const date2 = new Date(now); //当前时间  
  const curWeek = date2.getDay(); //获取当前星期几    
  const day = date2.getDay() || 7;
  const monday = new Date(date2.getFullYear(), date2.getMonth(), date2.getDate() + 1 - day); //计算出星期一    
  const sunday = new Date(date2.getFullYear(), date2.getMonth(), date2.getDate() + 7 - day); //计算出星期天
  if (date1 < monday || date1 > sunday) {
    return false; //不在同一个星期内    
  } else {
    return true; //在同一个星期内    
  }
}

//判断是否在同一年里
function sameYear(date) {
  const date1 = new Date(date);
  const date2 = new Date(now);
  const curYear = date2.getFullYear();
  const dateYear = date1.getFullYear();
  if (curYear == dateYear) {
    return true;
  } else {
    return false;
  }
}

var res = function (str) {
  // var str2 = str.substr(0, 10)
  console.log(str)
  var date = Date.parse(str); //时间戳格式的日期
  // var date = new Date(date0)
  var week = date.getDay(); //当前周几 一周以内显示这个

  // 当前几月几号 一年之内显示这个
  const month = date.getMonth() + 1;
  const day = date.getDate();
  const mmdd = month + "月" + day + "日";
  const weekShow = ["周一", "周二", "周三", "周四", "周五", "周六", "周日"];

  if (this.sameWeek(str)) {
    return weekShow[week - 1];
  } else if (this.sameYear(str)) {
    return mmdd;
  } else {
    console.log("date", str)
    return date;
  }
}

module.exports.time = res;